# Application
NODE_ENV=development
PORT=4000
API_PREFIX=api
API_VERSION=1

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/flightsbooking?schema=public"

# JWT
JWT_SECRET=your-jwt-secret
JWT_EXPIRATION=1d

# Stripe
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret

# Supabase
SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-key
